[Unit]
Description=Simulates a USB drive through the USB-C port
After=usb-to-nas-startup.service


[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/usb-to-nas/boot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
